{
  "plugins": ["prettier-plugin-svelte"],
  "svelteSortOrder": "options-scripts-styles-markup",
  "svelteStrictMode": false,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all"
}
