$shadow: rgba(0, 0, 0, 0.25);
$color1: #ffffff;
$color2: #cecece;
$color3: #eeeff0;
$color4: #7d7d7d;
$color5: #c0c0c0;
$color6: rgb(62, 62, 62);

$corner-radius: 5px;
$canvas-size: 30em;
$canvas-color: darken($color6, 10%);
